//footer
.site-footer {

    animation: back 2500ms;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 25em;
  
     &::before {
        animation: spin var(--speed) infinite linear;
        width: 155px;
        height: 154px;
        top: 4em;
    }
    &::after {
        animation: spin var(--speed) infinite linear;
        width: 173px;
        height: 169px;
        bottom: 33.8em;
      
    }

    ul{
    
      &::after {
        animation: spin var(--speed) infinite linear;
        bottom: -32.5em;

      }

    }  
}

#oscars {
  display: flex;
  font-size: 42px;
  justify-content: center;
  align-items: center;
  font-family: 'Quicksand' ; 
  color: white;
  position: relative;
  bottom: 162px;
  column-gap: 80px;
  max-width: 1440px;
  width: 100%;
   
}

.orangeoscar{
  
 
  position: absolute;
  z-index: -1;
  transform: scale(1.4);
  max-height: 300px;
  height: 75%;
  
}


.oscarstitre{
  max-width: 643px;
  width: 100%;
  height: 267px;
  position: relative;

  p{
    line-height: 43px;
  }
  
}

.oscarsimg {
  max-width: 300px;
  width: 100%;
  position: relative;
  bottom: 35px;
}









  
    