//footer
.site-footer {

    animation: back 2500ms;
    flex-wrap: wrap;
    overflow: visible;
    
  
    &::before {
        animation: spin var(--speed) infinite linear;
        width: 155px;
        height: 154px;
    }
    &::after {
        animation: spin var(--speed) infinite linear;
        width: 173px;
        height: 169px;
        bottom: 33.8em;
    }

    ul{
    
      &::after {
        animation: spin var(--speed) infinite linear;
        bottom: -32.5em;
      }

    }  
}

#oscars {
  display: flex;
  margin-left: 243px;
  font-size: 42px;
  font-family: 'Quicksand' ; 
  color: white;
  position: relative;
  bottom: 162px;
  column-gap: 80px;

}
.orangeoscar{
  
 
  position: absolute;
  z-index: -1;
  transform: scale(1.4);
  
}


.oscarstitre{
  width: 643px;
  height: 267px;
  position: relative;
  
}









  
    