:root{
  --speed:10s;
}

p{

  animation: p 2500ms;

}

.banner{
  animation: backgroundimg 1000ms ;
  position: relative;
   

}

.banner img {
      
    opacity: 0;
    animation: bannerimg 1000ms 0.2s ease-out forwards,flottement 3000ms 2.7s infinite ease-in-out;
    position: sticky;
    width: 50%;
    
}

//MENU

.navhover{

    display: none;
    max-width: 1440px;
    width: 100%;
    height: 944px;
    position: fixed;
    background-color: #FFF5E9;
    opacity: 0;
    overflow: hidden;
    
    li{
       list-style-type: none;
       line-height: 84px;
       margin-bottom: 30px;
     }

     a{
        text-decoration: none;
        font-size: 64px;
        
     }

    ul{

        top:190px;
        position: absolute;
        padding: 0;
        margin: 0;
        
        }

     p{

        animation: none;
        position: absolute;
        top: 800px;        
     }

}

.navhover a:hover{

    text-shadow: 0.1em 0.1em 0.2em #FF5C00;
    color: black;
}

.navhover.active{

    animation: fadehover 0.5s forwards ease-in-out;
    display: flex;
    max-width: 1440px;
    width: 100%;
    
}

.sectiondeux{

    text-align: center;
    justify-content: center;
    align-items: center;
    width: 40%;
    display: flex;
    position: relative;
}

.sectionun{

    width: 30%;
    display: grid;
    position: relative;
        
}

.sectiontrois{

    width: 30%;
    display: grid;
    position: relative;
    
}

.menu-toggle{

    z-index: 10;
    position: absolute;
    right: 100px;
    height: 100%;
    width: 15%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-navigation .line {

    position: absolute;
    transition: transform 0.3s ease-out, opacity 0.1s ease-out;
    height: 1px;
}

.main-navigation {

    position: relative;
    max-width: 1440px;
    display: flex;
    justify-content: center;
    
}

.main-navigation.toggled ul {
    
    display: flex;

} 

.liensmenu{

    margin-bottom: 20px;
}

.l1{
    transform: translateY(-10px);
}

.l3{
    transform: translateY(10px);
}

.menu-toggle.active .l1{
    transform: translateY(0px) rotate(135deg);
}

.menu-toggle.active .l2{
    opacity: 0;
}

.menu-toggle.active .l3{
    transform: translateY(0px) rotate(-135deg);
}

.orchid{
  
    animation: spin var(--speed) infinite linear;
    margin-left: -63px;
    margin-top: 50px;

}

.catviolet{

    animation: flottementtwo 2000ms 2.7s infinite ease-in-out;
    top: 100px;
    left: 300px;
    width: 27%;
    position: absolute;
}


.flower{

    animation: spin var(--speed) infinite linear;
    width: 16%;
    margin-left: 137px

}

.catroux{

    animation: flottement 2000ms 2.7s infinite ease-in-out;
    

}

.sunflower{

    animation: spin var(--speed) infinite linear;
    width: 50%;
    margin-left: 20px;
    margin-top: 114px;

}

.randum{

    animation: spin var(--speed) infinite linear;
    width: 16%;
    margin-left: 400px;
    margin-top: 72px;
    
}

.chatnoir{

    animation: flottementtwo 3000ms 2.7s infinite ease-in-out;
    margin-left: 64px;
    width: 34%;
    
        
}

.hibiscus{

    animation: spin var(--speed) infinite linear;
    margin-left: 240px;
    margin-top: 70px;
    scale: 1.5;
}

.loghover{

    animation: flottement 3000ms 2.7s infinite ease-in-out;
    margin-bottom: 770px;
    
}

//FIN MENU

@keyframes p{
    
  0% {
      transform: translateY(-500px);
      opacity: 0;
  }
  50%{
      opacity: 0.2;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
      }
  }

  @keyframes flottement{
    
    0% {
        transform: translate(0,0);
    }
    10%{
        transform: translateX(10px);
    }
    20%{
        transform: translateY(-10px);
    }
    40%{
        transform: translateX(-10px);
    }
    55% {
        transform: translateY(5px);
    }
    70%{
        transform: translateY(-5px);
    }
    100% {
        transform: translate(0,0);
    }
    }

    @keyframes flottementtwo{
    
        0% {
            transform: translate(0,0);
        }
        10%{
            transform: translateY(10px);
        }
        20%{
            transform: translateX(-10px);
        }
        40%{
            transform: translateX(-10px);
        }
        55% {
            transform: translateY(15px);
        }
        70%{
            transform: translate(-15px);
        }
        100% {
            transform: translate(0,0);
        }
        }

@keyframes backgroundimg{
    
0% {
    transform: translateY(-500px);
    opacity: 0;
}
50%{
    opacity: 0.2;
}
100% {
    transform: translateY(0);
    opacity: 1;
    }
}

@keyframes bannerimg{
    0% {
        transform: translateY(500px);
        opacity: 0;
    }
    50% {
        transform: translateY(100px);
        opacity: 1;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
        }
    }

@keyframes fadesections{
        0% {
            transform: translateY(500px);
            opacity: 0;
        }
        50%{
            opacity: 0.2;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
            }
        }

@keyframes fadehover{
            0% {
                 opacity: 0;
            }

            50%{
                opacity: 0.2;
            }
            100% {
                
                opacity: 1;
                }
            }

@keyframes back{
                                                                                
            0% {
                transform: translateY(500px);
                opacity: 0;
            }
            50%{
                opacity: 0.2;
            }
            100% {
                transform: translateY(0);
                opacity: 1;
                }
            }                                                                                        


@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes animtitre {
    
    100% {

        transform: translateY(0);

        }
    }                           
    

#background-video{

    position: absolute;
}

.banner{

    overflow: hidden;
}

.animation-titre{

     animation: animtitre 2000ms forwards;
    
}


h2 span{

    transform: translateY(100%);
    display: inline-block;
    
}

@media screen and (max-width: 700px){
.main-navigation {
    height: 80px;
}

h2{
    font-size: 24px;
}
h3{
    font-size: 22px;
}

.catviolet{

    display: none;
}

.flower{

    display: none;
}

#background-video{

    display: none;
}

.navhover 

a{

    font-size: 10px;

}

li {

    margin-bottom: 0; 

}

.story #place > div {

    margin-right: 37px;
}

}

@media screen and (max-width: 900px){
    
    .navhover{
        
        li{
           
           line-height: 84px;
         }
    
         a{
            text-decoration: none;
            font-size: 44px;
            
         }
    
    }
    .oscarstitre p{
        
        font-size: 20px;
    }

    }

@media screen and (max-width: 1260px){


.oscarstitre{

    font-size: 30px;
    max-width: 643px;
    width: 80%;
    }

#oscars{

    flex-direction: column-reverse;
    align-items: center;
    p{
        margin-top: 50px;
    }

    }

.grosnuage{

    display: none;
}    
        

}
