.story #place{

    background-image:url("../images/Studio_Koukaki-image_place.png");

}

.story #place > div {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    max-width: 447px;
    width: 50%;
    display: flex;
    margin-top: 190px;
    margin-left: 177px;
    
    h3{
        padding-left: 0;
    }
    
    p{
        padding-left: 0;
    }
}


.petitnuage{
    filter: blur(15px);
    position: absolute;
    left: 800px;
    top: 100px;
}



.grosnuage{
    filter: blur(15px);
    position: absolute;
    top: -116px;
    left: 1000px;
}


@keyframes cloudmove{

    100%{
        transform: translateX(0px);
    }
}