// story
.story {
    animation: fadesections 2500ms;
    h2{
        
      &::before {
        
      }
      &::after {
        animation: spin var(--speed) infinite linear;
        width: 154px;
        height: 155px;
      }
    }
  
    &__article {
      
      &::before {
        
      }
      &::after {
        animation: spin var(--speed) infinite linear;
      }
    }
  
    #characters {
      
      h3 {
        
      }
      div {
       
      }
      .other-characters {
        
        }
      }
    }
    #place {
      
      h3 {
        
      }
      > div {
        
        p {
          
        }
      }
    }

    
  