// STUDIO

#studio {
    animation: fadesections 2500ms;
    h2 {
      
      &::before {
        animation: spin var(--speed) infinite linear;
        width: 203px;
        height: 199px;
        
      }
      
      &::after {
        
        animation: spin var(--speed) infinite linear;
        width: 109px;
        height: 109px;
      }
    }
  
    > div {
      
      &::before {
       
      }
      p{
     
      }
    }
  }